<h1>Search Members</h1>

<%= form_tag '/search', method: :get do %>
  <%= label_tag :house %>
  <%= select_tag :house, options_for_select([
    ['Stark', 'stark'],
    ['Lannister', 'lannister'],
    ['Targaryen', 'targaryen'],
    ['Tyrell', 'tyrell'],
    ['Greyjoy', 'greyjoy']
  ]) %>

  <%= submit_tag 'Get Members' %>
<% end %>
